span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */


  color: #070707;

 
 
}
 .one{
    margin-right: 47px;
  }
  .two{
    margin-right: 70px;
  }
  .three{
    margin-right: 133px;
  }
  .four{
    margin-right: 105px;
  }

  .id{
    width: 191px;
    margin-right: 29px;
  }
  .category{
    width: 111px;
    margin-right: 50px;
  }
  .name{
    width: 182px;
    margin-right: 110px;
  }
  .name-fab{
    width: 222px;
    margin-right: 73px;
  }
  .value{
    width: 186px;
    margin-right: 53px;
  }
  a.link{
    text-decoration: none;
    width: 50px;
    margin-left:0px;
    text-align: center;
  }  
  a.link:hover{
    border-bottom:none ;
  
  }